In [2]:
thisset = {"apple", "banana", "cherry",False,True,0}
print(thisset)

{False, True, 'banana', 'apple', 'cherry'}

In [3]:
thisset = ("apple","banana","cherry")

print(thisset)

('apple', 'banana', 'cherry')

In [4]:
set1 = {"abc", 34, True, 40, "male"}

print(set1)p

{True, 34, 40, 'male', 'abc'}

In [6]:
print(type(set1))

<class 'set'>

In [7]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'banana', 'orange'}

In [8]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [9]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [10]:
#Join set

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

In [11]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'c', 'b'}

In [12]:
#prints only unique data

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'banana', 'cherry', 'google'}

In [13]:
#prints only  same data

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}